

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <fieldset class="form-inline">
                <div class="form-group">
                  <label for="typeahead-state">Search for a state</label>
                  <input id="typeahead-state" 
                  type="text" 
                  class="form-control m-lg-3" 
                  (selectItem)="setState($event)" 
                  [ngbTypeahead]="stateSearch" 
                  (keyup)="keyup($event)"
                  placeholder="Select State"
                  >
                </div>
            </fieldset>
            <fieldset class="form-inline">
                <div class="form-group">
                  <label for="typeahead-city">Search for a city</label>
                  <input 
                  id="typeahead-city"
                  type="text" 
                  class="form-control m-lg-4" 
                  [ngbTypeahead]="citySearch"
                  placeholder="Select City"
                  (selectItem)="setCity($event)" 
                  [(ngModel)]="model"
                  >
                </div>
            </fieldset>
    </div>
    </div>
</div>
